

.contentText, .contentText table 
{
  padding: 5px 0 5px 0;
  font-size: 11px;
  line-height: 1.5;
}


.emailBarFrom, .emailBarTo 
{ 
	font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; 
}

.emailBarCurrent 
{ 
	font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; 
}

